<!doctype html>
<html lang="en">
	<head>
		{% include "head.liquid" %}
		<link rel="stylesheet" href="https://drive.google.com/drive/folders/1LPAuhP8kU7K1cYzjbiOVa6YlbQl57-En?usp=sharing" />
	</head>

	<body>
		{% include "nav.liquid" %}
		<main>
			{{ content }}
		</main>
	</body>

	{% include "scripts.liquid" %}
</html>
